<home-page-nav-bar></home-page-nav-bar>

<main class="">
    <section class="portfolio-block my-5">
        <div class="container">
            <div class="heading">
                <h2>Signup</h2>
            </div>
            <div class="row">
                <form [formGroup]="signupForm">
                    <div class="mb-5 d-flex justify-content-center">
                        <div class="form-check form-check-inline">
                            <input type="radio" class="btn-check" name="userType" id="signupLearnerRadio"
                                autocomplete="off" formControlName="userType" value="learner" />
                            <label class="btn btn-outline-info" for="signupLearnerRadio">Learner</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="btn-check" name="userType" id="signupTeacherRadio"
                                autocomplete="off" formControlName="userType" value="teacher" />
                            <label class="btn btn-outline-info" for="signupTeacherRadio">Teacher</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="signupInputFname1" class="form-label">Nom</label>
                            <input type="text" class="form-control form-outline-danger" id="signupInputFname1"
                                aria-described formControlName="fname" [class.is-valid]="signupForm.get('fname')?.valid"
                                [class.is-invalid]="fieldIsInvalid('fname')" autocomplete="off"
                                [value]="signupForm.get('fname')" />
                            <div *ngIf="fieldIsInvalid('fname')" class="form-text text-danger">Nom invalide</div>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Prénom</label>
                            <input type="text" class="form-control" [class.is-valid]="signupForm.get('lname')?.valid"
                                [class.is-invalid]="fieldIsInvalid('lname')" formControlName="lname" autocomplete="off"
                                [value]="signupForm.get('lname')" />
                            <div *ngIf="fieldIsInvalid('lname')" class="form-text text-danger">Prénom invalide</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="signupInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control form-outline-danger" id="signupInputEmail1"
                                aria-described formControlName="email" [class.is-valid]="signupForm.get('email')?.valid"
                                [class.is-invalid]="fieldIsInvalid('email')" autocomplete="off"
                                [value]="signupForm.get('email')" />
                            <div *ngIf="fieldIsInvalid('email')" class="form-text text-danger">Email is invalide</div>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control"
                                [class.is-valid]="signupForm.get('password')?.valid"
                                [class.is-invalid]="fieldIsInvalid('password')" formControlName="password"
                                autocomplete="off" [value]="signupForm.get('password')" />
                            <div *ngIf="fieldIsInvalid('password')" class="form-text text-danger">Password is invalide
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="signupInputdob1" class="form-label">Date de naissance</label>
                            <input type="date" class="form-control form-outline-danger" id="signupInputdob1"
                                aria-described formControlName="dob" [class.is-valid]="signupForm.get('dob')?.valid"
                                [class.is-invalid]="fieldIsInvalid('dob')" autocomplete="off"
                                [value]="signupForm.get('dob')" />
                            <div *ngIf="fieldIsInvalid('dob')" class="form-text text-danger">Date de naissance invalide
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="signupInputPhone1" class="form-label">Num Tel</label>
                            <input type="tel" class="form-control" [class.is-valid]="signupForm.get('phone')?.valid"
                                [class.is-invalid]="fieldIsInvalid('phone')" id="signupInputPhone1"
                                formControlName="phone" autocomplete="off" [value]="signupForm.get('phone')" />
                            <div *ngIf="fieldIsInvalid('phone')" class="form-text text-danger">Num Tel invalide</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="signupInputCountry1" class="form-label">Country</label>
                            <input type="text" class="form-control form-outline-danger" id="signupInputCountry1"
                                aria-described formControlName="country"
                                [class.is-valid]="signupForm.get('country')?.valid"
                                [class.is-invalid]="fieldIsInvalid('country')" autocomplete="off"
                                [value]="signupForm.get('country')" />
                            <div *ngIf="fieldIsInvalid('country')" class="form-text text-danger">Country invalide</div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="signupInputCity1" class="form-label">City</label>
                            <input type="text" class="form-control" [class.is-valid]="signupForm.get('city')?.valid"
                                [class.is-invalid]="fieldIsInvalid('city')" id="signupInputCity1" formControlName="city"
                                autocomplete="off" [value]="signupForm.get('city')" />
                            <div *ngIf="fieldIsInvalid('city')" class="form-text text-danger">City invalide</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="signupInputStreet1" class="form-label">Street</label>
                            <input type="text" class="form-control form-outline-danger" id="signupInputStreet1"
                                aria-described formControlName="street"
                                [class.is-valid]="signupForm.get('street')?.valid"
                                [class.is-invalid]="fieldIsInvalid('street')" autocomplete="off"
                                [value]="signupForm.get('street')" />
                            <div *ngIf="fieldIsInvalid('street')" class="form-text text-danger">Street invalide</div>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="signupInputZipCode1" class="form-label">Zip code</label>
                            <input type="text" class="form-control" [class.is-valid]="signupForm.get('postcode')?.valid"
                                [class.is-invalid]="fieldIsInvalid('postcode')" id="signupInputZipCode1"
                                formControlName="postcode" autocomplete="off" [value]="signupForm.get('postcode')" />
                            <div *ngIf="fieldIsInvalid('postcode')" class="form-text text-danger">Zipcode invalide</div>
                        </div>
                    </div>

                    <div *ngIf="serverMsg" [class]="'mt-3 text-center alert alert-'+serverMsgType" type="alert">
                        {{serverMsg}}
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary mt-3" (click)="signup()"
                            [disabled]="signupForm.invalid">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<home-page-footer></home-page-footer>