<home-page-nav-bar></home-page-nav-bar>
<main class="">
    <section class="portfolio-block">
        <div class="container">
            <div class="heading">
                <h1 style="margin-top: 50px;" class="text-center">Liste des cours</h1>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="https://picsum.photos/200/150?random=11" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="https://picsum.photos/200/150?random=12" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="https://picsum.photos/200/150?random=13" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="https://picsum.photos/200/150?random=14" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="https://picsum.photos/200/150?random=15" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="https://picsum.photos/200/150?random=16" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#">Lorem Ipsum</a></h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<home-page-footer></home-page-footer>