.courseTitle{
    color: #391465;
    font-family: Montserrat;
    font-weight: bold !important;
    font-size: 18px !important;
    text-transform: uppercase;
}

.text-muted{
    font-family: Monsterrat;
}