<home-page-nav-bar></home-page-nav-bar>
<main>
    <section class="portfolio-block my-5">
        <div class="container">
            <div class="heading" style="margin-bottom: 20px;">
                <h2 style="font-family: Montserrat; font-size: 26px;">Venez pour la formation, restez pour
                    l'expérience
                </h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/7.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Coach Design Graphique</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/4.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Coach Robotique éducative</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/5.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Diplôme WEDO 2.0</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/2.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Diplôme marketing digital</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/1.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Diplôme Marketing Digital</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/3.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Coach UX/UI design</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="heading" style="margin-bottom: 20px;">
                    <h2 style="font-family: Montserrat; font-size: 26px;">
                        Plongez dans le digital avec les programmes kids
                    </h2>
                    <hr>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/6.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Diplôme Scratch 2.0</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/8.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Diplôme Motion Design</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/9.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Héro Design Graphique</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/10.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Génie Robotique éducative</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover"
                                src="assets/img/banners/11.png" alt="Card Image"></a>
                        <div class="card-body">
                            <h3><span class="courseTitle">Diplôme Marketing Digital</span></h3>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Nunc quam urna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<home-page-footer></home-page-footer>