<home-page-nav-bar></home-page-nav-bar>
<main class="page contact-page">
    <section class="portfolio-block contact my-5">
        <div class="container">
            <div class="heading">
                <h2 style="font-family: Montserrat;font-size: 25px;color: #1dbcb4;">Une plateforme d’apprentissage <br>
                    innovante
                    &
                    gamifiée</h2>
            </div>

            <div style="text-align: left;display: flex;flex-direction: column;align-items: center;line-height: 1.5;">
                <div style="font-family: Montserrat;width: 40vw;font-size: 18px;">

                    <div>
                        Pour une expérience d’apprentissage unique.
                        Creator’Z est une plateforme de coaching offrant des formations des formateurs et organisant des
                        évènements dans le Digital Art et Digital IT.
                        Notre team vous assiste à choisir les formations les plus demandées aux différents métiers de
                        demain.
                    </div>
                    <br>
                    <div>

                        Nous mettons à votre disponibilité des formateurs qualifiés et nous avons mis en place une
                        pédagogie
                        ciblée et bien étudiée. Nous misons notre ambition sur l'accompagnement continuel et progressif
                        des
                        apprenants.
                    </div>

                    <br>


                </div>
                <br>

                <div class="heading">
                    <h2 style="font-family: Montserrat;font-size: 25px;color: #1dbcb4;">Nos valeurs sont notre ADN</h2>
                </div>

                <div style="font-family: Montserrat;width: 40vw;font-size: 18px;">
                    <div>

                        Innovation, Suivi, Accompagnement et Partage sont les valeurs qui définissent l'ADN de
                        Creator’Z.

                        Nous vous proposons un suivi régulier, des conseils pertinents et des solutions efficaces. Vous
                        serez
                        donc aptes à exercer votre métier dans des conditions optimales.
                    </div>
                    Plongez dans le digital avec les programmes kids
                    Nous formons la prochaine génération Z aux technologies les plus récentes et aux métiers du 21ème
                    siècle
                    pour les préparer au monde professionnel et renforcer leur employabilité.
                    Une méthodologie disruptive
                    La méthode Creator’Z remplace désormais le système éducatif traditionnel, hautement théorique et non
                    motivant. Notre modèle d'apprentissage est basé sur des projets et des exercices fournissant à
                    l'apprenant des connaissances et des compétences à long terme.

                </div>
            </div>

        </div>
    </section>
</main>
<home-page-footer></home-page-footer>