<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar"
    style="background: linear-gradient(45deg, #391465, #5b22a0)">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <img src="./assets/img/logo-creatorz-blanc.png" alt="" srcset="" style="width: 200px" /> </a><button
            data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>
            <span *ngIf="!isLoggedIn" class="navLink" routerLink="/login">
                Login
            </span>
            <span class="navLink" routerLink="/signup" *ngIf="!isLoggedIn">
                Signup
            </span>
            <span class="navLink" routerLink="/contact" *ngIf="!isLoggedIn">
                Contact
            </span>
            <span class="navLink" routerLink="/course/create" *ngIf="isLoggedIn && userRole===UserRole.TEACHER">
                Create
            </span>
            <span class="navLink" routerLink="/courses/list" *ngIf="isLoggedIn">
                Cours
            </span>
            <span class="navLink" routerLink="/" *ngIf="isLoggedIn" (click)="auth.signOut()">
                Logout
            </span>

            <img [src]="this.user?.avatar" alt="" class="avatar" *ngIf="isLoggedIn"
                (click)="router.navigate(['/user/profile'])" style="margin-left: 50px;">
        </div>
    </div>
</nav>