<home-page-nav-bar></home-page-nav-bar>
<h1 style="margin-top: 150px;" class="text-center">Creation de cours</h1>
<div class="container py-5">

  <form [formGroup]="courseForm" class="row py-4">
    <div class="col-lg-6 mx-auto">
      <div class="mb-3">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Titre</mat-label>
          <input matInput formControlName="title" placeholder="">
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" placeholder="" class="no-resize"
            style="min-height: 100px;"></textarea>
        </mat-form-field>
      </div>
      <div class="image-area mb-2">
        <div *ngIf="thumbnailImgBase64" [style]="'background-image: url('+thumbnailImgBase64+');'"
          class="image-preview">
        </div>
      </div>
      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-lg">
        <input id="upload" type="file" (change)="selectImageFile($event);" class="form-control border-0"
          accept=".jpg, .jpeg, .png">
        <label id="upload-label" for="upload" class="font-weight-light text-muted">Couverture du cours</label>
        <div class="input-group-append">
          <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
              class="fa fa-cloud-upload mr-2 text-muted"></i><small
              class="text-uppercase font-weight-bold text-muted">Choisir Image</small></label>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary" (click)="create()">Create</button>
  </div>


</div>